@charset "utf-8";
/* CSS Document */


 
@media only screen and (min-width: 40.063em) {
.column.large-uncentered, .columns.large-uncentered {
margin-left: 0;
margin-right: 0;
float: left;
margin-top: 3%;
}


hr {
	margin-bottom: 10%;
	box-shadow: 0px 4px 2px #A29D9E;
	border: solid 2px #049EE8;
	}
	
	
#logo {
	width: 90%;
	margin-bottom: 10%;
	}
	
#logo_text {
	font-size: 3rem;
	font-family: Trebuchet MS;
	color: #049EE8;
	font-style: italic;
	/*text-shadow: 2px 2px 4px #aaa;*/
	margin-top: 10%;
	margin-left: -18px;
	}

#logo_it{
	color: black;
	/*text-shadow: 2px 2px 4px #aaa;*/
	}
	
#tagline{
	margin-top: -10px;
	font-family: Trebuchet MS;
	font-size:21px!important;
	font-style: italic;
	margin-left: -27px;
	/*text-shadow: 2px 2px 4px #aaa;*/
	}
	

	
.connections {
	margin-top: -21%;
	}
	
.connections a {
color: #008cba;
text-decoration: none;
line-height: inherit;
/* text-align: center; */
/* margin-left: auto; */
/* margin-right: auto; */
background: brown;
}
	

.fi-social-twitter{
	color: #5DD7FC; 
	float:right;  
	margin-right: 25%;
	}
	
.fi-social-facebook{
	color: #45619D; 
	float:right; 
	margin-right: 5%
	}	
	
.fi-mobile {display:none;}
#mobile{float:right;}
	
#header{
	width: 100%;
	background: white;
	}
	
#nav{
	width: 100%;
	background-color:#5C5C5C;
	box-shadow: 8px 8px 2px #A29D9E;
}
.top-bar-section ul li {
	float: left;
	border-top: 1px darkgray solid;
	}	
	
ul .left li  {
	background-color:black;
	}
	
.top-bar {
	  /*background-image:url(../img/navbar2.png)!important;
	  background-repeat:repeat-x!important;*/
	  background-color: #5C5C5C;
	  }
	  
.top-bar-section li:not(.has-form) a:not(.button) {
    box-shadow: 0px 2px 2px #A29D9E!important;
	/*background-image:url(../img/navbar2.png)!important;
	background-repeat:repeat-x!important; */
	background-color: white;
	width:100%!important;
	}

	
	

/*nav background*/	
.top-bar-section ul li > a {
	display: block;
	width: 100%;
	color: black;
	padding: 12px 0 12px 0;
	padding-left: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8125rem;
	font-weight: normal;
	}
	
.top-bar-section ul li > a:hover{
	display: block;
	width: 100%;
	color: #049EE8;
	}
	

	
/*all dropdown list elements*/
.f-dropdown > * {
width: 100%!important;
}

#main-content{
	width: 100%;
	background-color: white;
	/*background-color: #006794;*/	
	/*background-color: #33cccc;*/
	}

 .size-12 { font-size: 12px; }
      
.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }

#gallery{
	background-color:#33cccc;;
	}	
	
.orbit-container {
margin-top: 5%;
}
	
#four-block-heading{
	text-transform:uppercase;
	font-family: Trebuchet MS;
	color: black;	
	margin-bottom: 40px;
	}

.four-block-heading {
	font-family: Trebuchet MS;
	font-size: 1.3rem;
	text-transform: none;
	color: black;
	margin-top: 20px;
	}

.integrate-blue {
	color: #049EE8;
	}

.four-blocks img {
	box-shadow: 8px 8px 2px #A29D9E;
	border: solid 2px #049EE8;
	}
	
.four-blocks p{
	font-size: 14px;
	margin-bottom: 32%;
	}
	
#footer {
	width: 100%;
	padding: 20px 0;
	/* background-color: #006794; */
	background-color: #33cccc;
	margin-top: 5%;
	}
#footer-insert {
	width: 100%;
	background-color: white;
	margin: 1% 0;
	padding: 2% 0;
	}

#blurb{margin-top: 10%;}
#blurb h2{
		margin-top: 20px;
	}
#blurb p {
margin-bottom: 60px;
}
}
@media only screen and (max-width: 40em) {
	.size-12 { font-size: 12px; }
      
.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }


#logo {
margin-top: 10%;
}

#logo_text {
	float: left;
	text-align: center;
	margin-top: 5%;
	}
#tagline{
	margin-top: 2%;
	text-align: center;
	}
.fi-mobile{
	float:left;
	}
.fi-social-twitter{
	float: left;
	}
	
.fi-social-facebook{
	float: left;
	}	
	
#mobile{
	display:none;
	}
	

	}



 href="tel:1300766933"><i class="fi-mobile size-48" ></i></a>
          <a href"#"><i class="fi-social-twitter size-48" style="color: #5DD7FC; float:right;  margin-right: 25%" ></i></a>
          <a href="http://www.jasonyates75.com.au"><i class="fi-social-facebook size-48" style="color: #45619D; float:right; margin-right: 5%"></i></a>

