@charset "utf-8";
/* CSS Document */


 
@media only screen and (min-width: 40.063em) {
	
.size-12 { 
	font-size: 12px; 
	}
      
.size-14 {
	 font-size: 14px;
	  }

.size-16 { 
	font-size: 16px; 
	}

.size-18 {
	 font-size: 18px;
	  }

.size-21 {
	 font-size: 21px;
	  }

.size-24 {
	 font-size: 24px;
	  }

.size-36 {
	 font-size: 36px;
	  }

.size-48 {
	 font-size: 48px;
	  }

.size-60 {
	 font-size: 60px;
	  }

.size-72 {
	 font-size: 72px;
	  }	
	
.column.large-uncentered, .columns.large-uncentered {
	margin-left: 0;
	margin-right: 0;
	float: left;
	margin-top: 3%;
	}


hr {
	box-shadow: 0px 4px 2px #A29D9E;
	border: solid 2px #049EE8;
	margin-bottom:5%;
	}
		
/*==========================Header================================*/	
#header{
	width: 100%;
	background: white;
	}
/*============================Logo================================*/	
#logo {
	width: 50%;
	margin-bottom: 14%;
	}
	
#logo_text {
	font-size: 3rem;
	font-family: Trebuchet MS;
	color: #049EE8;
	font-style: italic;
	text-shadow: 2px 2px 4px #aaa;
	margin-top: 3%;
	margin-left: -116px;
	}

#logo_it{
	color: black;
	text-shadow: 2px 2px 4px #aaa;
	}
	
#tagline{
	margin-top: -10px;
	font-family: Trebuchet MS;
	font-size:21px!important;
	font-style: italic;
	margin-left: -123px;
	}
/*==========================Social Media and Mobile Phone=========*/

#social_large_columns {
	margin-top: -1%;
	}
#social_small_grid_3{
	margin-left: 19%;
	 margin-bottom: 6%;
	 }

.fi-social-facebook{
	float: left;
	}	
	
.fi-social-twitter {
	float: left;
	margin-left: 59%;
	margin-top: 44%;
	}
	
#mobile {
float: left;
margin-top: -19%;
margin-right: 5%;
}
	
.fi-mobile{
	display:none;
	}
	
#support{
	margin-left: 2%;
	}	
	
	
#microsoft{
	width: 15%;
	margin-right: 2%;
	}
	
#mac{
	width: 15%;
	margin-right: 2%;
	}
	
.info{
	width: 30%;
	}
	
#client-login{font-size:10px;}
	
/*=============================Navigation========================*/

#nav{
	width: 100%;
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
	background-image: linear-gradient(#fff, #ccc);
	box-shadow: 0px 8px 2px #A29D9E;
	margin-bottom: 15px;
}

.contain-to-grid{
	width: 100%;
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
	background-image: linear-gradient(#fff, #ccc);
	
	}
	
.top-bar-section ul li {
	float: left;
	}	
	
ul .left li  {
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
		background-image: linear-gradient(#fff, #ccc);
	}
	
.top-bar {
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
		background-image: linear-gradient(#fff, #ccc);
	  }
	  
.top-bar-section li:not(.has-form) a:not(.button) {
    box-shadow: 0px 2px 2px #A29D9E!important;
	/*background-color: white;*/
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
	background-image: linear-gradient(#fff, #ccc);
	width:100%!important;
	color: black;
	}
	
		
.top-bar-section ul li > a {
	display: block;
	width: 100%;
	color: black;
	padding: 12px 0 12px 0;
	padding-left: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8125rem;
	font-weight: normal;
	}
	
.top-bar-section ul li > a:hover{
	display: block;
	width: 100%;
	color: #049EE8!important;
	background-color: white!important;
	box-shadow: 0px 2px 2px #A29D9E!important;
	}
	

.selected{
	background: #5B5A5A!important;
	color: white!important;
	}
	
a.selected:hover{
	color: #049EE8!important;
	}
	
/*======================all dropdown list elements====================*/


.f-dropdown li {
font-size: 0.875rem;
cursor: pointer;
line-height: 1.125rem;
margin: 0;
width: 300px;
}

li.operating_systems {
font-size: 0.875rem;
cursor: pointer;
line-height: 1.125rem;
margin: 0;
width: 197px;
}

/*======================Main Content=================================*/
#main-content-index{
	width: 100%;
	background-color: white;
	}
	

#main-content{
	width: 100%;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 0%;
	}
	
	
#blurb{
	margin-top: 3%;
	margin-bottom:3%;
	}
	
#gallery-lists li{
	list-style:none;
	color:white;
	}
	

/*==========================About Information==================================*/	
.about_information{
	margin-top: 0%;
	}
	
.about_information h2{
	margin-top: 0;
	}
.about_information p {
	margin-bottom: 3%;
	}

/*===========================Orbit Gallery==========================*/
#gallerybg{
	background-color:#91A5B2;
	padding: 2% 0;
	margin-bottom: 15px;
	}	
	
#gallery-inverse{
	background-color:#91A5B2;
	padding: 4% 0;
	margin-bottom: 4%;
	}	

#gallery-inverse h4{
	color: white
	}	
	
.orbit-container {
margin-top: 1%;
padding-bottom: 9px;
}
	


/*=========================4 Content Blocks=======================*/

#index-services{
	margin-top:4%;
	}

#four-block-heading{
	text-transform:uppercase;
	font-family: Trebuchet MS;
	color: black;	
	margin-bottom: 40px;
	}

.four-block-heading {
	font-family: Trebuchet MS;
	font-size: 1.3rem;
	text-transform: none;
	color: black;
	margin-top: 20px;
	}

.integrate-blue {
	color: #049EE8;
	}

.four-blocks img {
	box-shadow: 8px 8px 2px #A29D9E;
	border: solid 2px #049EE8;
	}
	
.four-blocks-vendors img {
		box-shadow: 8px 8px 2px #A29D9E;
		border: solid 2px gray;
		}
	
.four-blocks p{
	font-size: 14px;
	margin-bottom: 32%;
	}
/*===============================Call To Action======================*/

#call-to-action{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 5%;
	max-width: 62.5rem;
	}
#contact-button{
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-top: 3%;
	}


/*===========================Box Slider========================*/
#box-slider{
	margin-top:5%;
	margin-bottom: 5%;
	}

ul.bxslider{
	margin-left:0.1rem!important;
}




/*===============================Footer============================*/	
#footer {
	width: 100%;
	padding: 7px 0;
	background-color:#91A5B2;
	
	}
	
#footer-insert {
	width: 100%;
	background-color: white;
	margin: 0% 0;
	padding: 0% 0;
	}
	
#footer_content{
		margin-top: 2%
		}
		
#footer-menu-list{
	font-size:12px;
	}
/*=================================Contact Us=======================*/

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/* Centre the form within the page */
form {
    margin:0 auto;
    width:459px;
}

/* Style the text boxes */
input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

textarea {
	height:213px;
	background:#efefef;
}

input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}


#map {
	margin-left: 0;
	margin-top: 2%;
	}

/*==========================Vendor list==============================*/
.vendor-list img{
	width: 63%;
	}
	
.vendor-list {
	margin-bottom: 15%;
	}
	
	

      
.suppliers  img{
	width: 50%;
	}
	
.suppliers {
	margin-bottom: 10%;
	}	
	
	
/*==============================Gallery Inverse Images=========================*/
#managed-img{
	margin-top: 5%;
	}
	
#audit-img{
	margin-top:2%;
	}
	
.on-demand{
	margin-top: 10%;
	}
	
.disclaimer h4 {
	color: #049EE8;
	}
	
.recaptchatable * {
margin: 0;
padding: 0;
border: 0;
/* color: black; */
position: static;
top: auto;
left: auto;
right: auto;
bottom: auto;
background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc))!important;
background-image: linear-gradient(#fff, #ccc)!important;
}


.recaptcha_input_area {
position: relative!important;
background: none!important;
margin-top: 6%!important;
}
	
}
@media only screen and (max-width: 40em) {
.size-12 { font-size: 12px; }
      
.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }


#logo {
	margin-top: 10%;
	}

#logo_text  {
	text-align: center;
	text-shadow: 2px 2px 4px #aaa;
	margin-top: 5%;
	font-size:36px;
	color: #049EE8;
	}
	
#logo_it{
	color: black;
	text-shadow: 2px 2px 4px #aaa;
	}	
	
.integrate-blue {
	color: #049EE8;
	}
		
#tagline{
	margin-top: 2%;
	text-align: center;
	}


	
.fi-mobile{
	display:none;
	}
	
.fi-social-twitter{
	display:none;
	}
	
.fi-social-facebook{
	display:none;
	}
	
#mobile{
	display:none;
	}
	

	}




